{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }} Profile{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        {{ include('user/usermenu.html.twig') }}
                    </div>
                </div>
                <div class="col-sm-9 padding-right">

                    <div class="left-sidebar">
                        <div class="brands_products"><!--brands_products-->

                            <h3><a href="#">Edit User Profile Information</a></h3>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ app.user.id }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ app.user.email }}</td>
                                </tr>
                                <tr>
                                    <th>Roles</th>
                                    <td>{{ app.user.roles ? app.user.roles|json_encode : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Password</th>
                                    <td>{{ app.user.password }}</td>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <td>{{ app.user.name }}</td>
                                </tr>
                                <tr>
                                    <th>Surname</th>
                                    <td>{{ app.user.surname }}</td>
                                </tr>
                                <tr>
                                    <th>Image</th>
                                    <td>{{ app.user.image }}</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td>{{ app.user.status }}</td>
                                </tr>
                                <tr>
                                    <th>Created_at</th>
                                    <td>{{ app.user.createdAt ? app.user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Updated_at</th>
                                    <td>{{ app.user.updatedAt ? app.user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <a href="{{ path('user_edit', {'id': app.user.id}) }}" class="btn btn-success">Edit Profile</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}